/* general */

html,
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

html {
    background: radial-gradient(66.54% 66.54% at 50.00% 12.64%, #2D4C69 0%, #343434 100%);
}



/*=============================================
=            Nav Bar            =
=============================================*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 90px;
    background: linear-gradient(180deg, #000 0%, #000 100%);
    padding: 30px;
    color: white;
}

nav>div>a {
    color: white;
    text-decoration: none;
}

#logoDiv {
    height: 60px;
    width: 200px;
    background-color: rgb(96, 96, 96);
    cursor: pointer;
}

#navBarLinksDiv {
    display: flex;
    gap: 30px;
}


/* Search box */

#searchBoxDiv {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 10px;
    color: rgb(139, 139, 139);
    height: 48px;
    box-sizing: border-box;
    background-color: rgb(44, 44, 44);
    border: solid 1px white;
    border-radius: 40px;
}

.search-input-and-icon {
    display: flex;
    gap: 5px;
    align-items: center;
}

#searchInput {
    background-color: transparent;
    box-shadow: none;
    font-size: 1.2rem;
    color: white;
    font-weight: 100;
    width: 70%;
}

.search_icon {
    height: 15px;
    width: 15px;
    background-color: rgb(82, 82, 82);
}

#clearSearch {
    cursor: pointer;
}

/*=====  End of Nav Bar  ======*/



/* Hero Image */

#heroImageDiv {
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 800px;
    background: linear-gradient(180deg, #964BB0 0%, #3B3993 85.42%);
    opacity: 0.5;
}

#HomepageTypo {
    color: white;
    padding-left: 50px;
    padding-bottom: 20px;

}

h1 {
    font-family: 'Racing Sans One', cursive;
    font-size: 60px;
    line-height: 110%;
    margin-bottom: -10px;
}

#HomepageTypo>p {
    font-size: 26px;
    font-weight: 100;
    line-height: 150%;
    max-width: 800px;
}



/*=============================================
=            Main Grid            =
=============================================*/


#currenciesContent {
    display: flex;
    flex-wrap: wrap;
    color: white;

}

.single_coins_card {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: rgb(30, 30, 30);
    border: 1px solid rgb(255, 255, 255);
    padding: 24px;
    position: relative;
    min-width: 250px;
}

.hide {
    display: none;
}

.icon_and_symbol {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.coin_symbol {
    margin: 0;
    font-size: 36px;
    font-weight: 300;
    line-height: 120%;
}

.coin_id {
    font-size: 18px;
    line-height: 100%;
    margin: 0;
    font-weight: 100;
}

.coin_icon {
    height: 50px;
    width: 50px;
}

.favorite_icon,
.favorite-icon-modal {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 32px;
    width: 32px;
    cursor: pointer;
    opacity: 0.5;
}

.favorite-on,
.favorite-on-modal {
    opacity: 1;

    .single_coins_card {
        background-color: aliceblue;
    }
}

.single_coins_card:has(.favorite-on) {
    box-shadow: 0px 0px 40px 0px rgba(223, 249, 255, 0.10) inset;
    background: linear-gradient(136deg, #331d34 0%, #33274f 100%);

}

.market_content {
    /* background-color: #2e3439; */
    line-height: 150%;
    min-width: 310px;
}

.rates_content {
    /* background-color: #2e3439; */
    line-height: 150%;
    min-width: 310px;
}

.hide-market .market_content {
    display: none;
}

.hide-rates .rates_content {
    display: none;
}


/* Slider */

/* .slider_div {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    margin-top: 14px;
} */

.extra_info_div>button {
    width: 120px;
    height: 30px;
    background-color: #2e222f;
    box-shadow: none;
    border: 1px solid white;
    color: rgb(255, 255, 255);
    border-radius: 8px;
}

.dot {
    background-color: white;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.icon_arrow {
    background-color: rgb(53, 53, 53);
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.right {
    background-image: url(Assets/icons/icon_arrow.svg);
}

.left {
    background-image: url(Assets/icons/icon_arrow.svg);
    rotate: 180deg;
}




/*=====  End of Main Grid  ======*/



/*=============================================
=            Modal            =
=============================================*/

.modalContainer {
    position: fixed;
    /* display: inline-block; */
    /* z-index: 1; */
    top: 0;
    margin-top: 5%;
    width: 100%;
}

.modal-bg {
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    margin: 0;
}

.modal-popup {
    background-color: #1d1d1d;
    color: white;
    margin: auto;
    width: 50%;
    padding: 20px;
    margin: 5% auto;
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 0px 10px 30px 1px rgba(0, 0, 0, 0.2);
    ;
}

#closeModalBtn {
    position: absolute;
    right: 20px;
    top: 150px;
    height: 24px;
    width: 24;
}

#acceptBtn {
    width: 120px;
    height: 30px;
    background-color: #2e222f;
    box-shadow: none;
    border: 1px solid white;
    color: rgb(255, 255, 255);
    border-radius: 8px;
}

#coinsModalListContainer {
    display: flex;
    gap: 30px;

}

.modal-list-item {
    display: flex;
    gap: 30px;
    border: 1px solid grey;
}

.favorite-icon-modal {
    position: relative;
}

/*=====  End of Modal  ======*/



/*=============================================
=            Reports page            =
=============================================*/

canvas {
    height: 800px;
    width: 100%;
    /* background-color: pink; */
}

/* #chartContainer {
    height: 800px;
    background-color: rgb(93, 66, 66);
} */

.favorites_list {
    display: flex;
    gap: 20px;
    height: 100px;
    background-color: rgb(125, 99, 99);
}

/*=====  End of Reports page  ======*/


.chart {
    height: 800px;
    color: black;
}




/* Footer */

footer {
    height: 200px;
    background-color: rgb(42, 31, 50);
}