/* general */

html,
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

html {
    /* background: radial-gradient(66.54% 66.54% at 50.00% 12.64%, #2D4C69 0%, #343434 100%); */
    background: radial-gradient(66.54% 66.54% at 50.00% 12.64%, #161338 0%, #1B1929 100%);
}



/*=============================================
=            Nav Bar            =
=============================================*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 90px;
    background: linear-gradient(180deg, #221031 0%, #0C1227 100%);
    padding: 30px;
    color: white;

}

#navBarLinksDiv {
    display: flex;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
}

.nav-link {
    position: relative;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: 100;
    min-width: 115px;
    text-align: center;
    padding: 0 5px;
    opacity: 0.7;
}

.nav-link:hover {
    font-weight: 200;
    transition: 0.1s;
    opacity: 1;
}

.nav-link:focus {
    color: #FF8EDF;
    font-weight: 200;
    opacity: 1;
}


.nav-link:hover::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #FF8EDF;
    position: absolute;
    top: 30px;
    left: 0;
}

.nav-link:focus::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #FF8EDF;
    position: absolute;
    top: 30px;
    left: 0;
    transition: 0.2s;
    transform-origin: center;
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

#logoDiv {
    height: 50px;
    width: 224px;
    background-image: url(Assets/images/crapto_logo.svg);
    background-repeat: no-repeat;
    cursor: pointer;
}

#navBarLinksDiv {
    display: flex;
    gap: 50px;
}


/* Search box */

#searchBoxDiv {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 10px;
    height: 48px;
    box-sizing: border-box;
    border-radius: 2.5rem;
    border: 2px solid #a657ca;
    background: #302243;
}

.search-input-and-icon {
    display: flex;
    gap: 5px;
    align-items: center;
    color: #6E588D;
}

#searchInput {
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    box-shadow: none;
    font-size: 1.2rem;
    color: white;
    font-weight: 100;
    width: 100%;
    border: none;
}

#searchInput::placeholder {
    color: #6E588D;
}

.search_icon {
    height: 24px;
    width: 24px;
    background-image: url(Assets/icons/icon_search.svg);
}

#clearSearch {
    display: none;
    cursor: pointer;
    width: 16px;
    height: 16px;
    background-image: url(Assets/icons/icon_clear_search.svg);
}

/*=====  End of Nav Bar  ======*/



/* Hero Image */

#heroImageDiv {
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 1000px;
    opacity: 0.5;
}

#HomepageTypo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-left: 50px;
    height: 400px;
    padding-bottom: 200px;

}

h1 {
    font-family: 'Racing Sans One', cursive;
    font-size: 52px;
    line-height: 110%;
    margin-bottom: -10px;
    letter-spacing: 0.1rem;
    text-align: center;
    color: white;
}

#HomepageTypo>p {
    font-size: 26px;
    font-weight: 100;
    line-height: 150%;
    max-width: 800px;
    text-align: center;
}



/*=============================================
=            Main Grid            =
=============================================*/


#currenciesContent {
    display: flex;
    flex-wrap: wrap;
    color: white;

}

.single_coins_card {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgb(255, 255, 255);
    padding: 24px;
    position: relative;
    min-width: 250px;
}

.hide {
    display: none;
}

.icon_and_symbol {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.coin_symbol {
    margin: 0;
    font-size: 36px;
    font-weight: 300;
    line-height: 120%;
}

.coin_id {
    font-size: 18px;
    line-height: 100%;
    margin: 0;
    font-weight: 100;
}

.coin_icon {
    height: 50px;
    width: 50px;
}

.favorite_icon,
.favorite-icon-modal {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 32px;
    width: 32px;
    cursor: pointer;
    opacity: 0.5;
}

.favorite-on,
.favorite-on-modal {
    opacity: 1;
}

.single_coins_card:has(.favorite-on) {
    box-shadow: 0px 0px 40px 0px rgba(223, 249, 255, 0.10) inset;
    background: linear-gradient(136deg, #331d34 0%, #33274f 100%);

}

.switch-container {
    padding-top: 6px;
    padding-bottom: 16px;
}

.market_content,
.rates_content {
    line-height: 170%;
    min-width: 310px;
}


.hide-market .market_content {
    display: none;
}

.hide-rates .rates_content {
    display: none;
}

.preloader {
    background-color: yellow;
    width: 100%;
    height: 80px;
    color: black;
}

/* Slider */

/* .slider_div {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    margin-top: 14px;
} */

.extra_info_div {
    display: flex;
    flex-direction: column;
}

.extra_info_div>button {
    width: 120px;
    height: 30px;
    background-color: #2e222f;
    box-shadow: none;
    border: 1px solid white;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    align-self: center;
}

.dot {
    background-color: white;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.icon_arrow {
    background-color: rgb(53, 53, 53);
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.right {
    background-image: url(Assets/icons/icon_arrow.svg);
}

.left {
    background-image: url(Assets/icons/icon_arrow.svg);
    rotate: 180deg;
}




/*=====  End of Main Grid  ======*/



/*=============================================
=            Modal            =
=============================================*/

.modalContainer {
    position: fixed;
    /* display: inline-block; */
    /* z-index: 1; */
    top: 0;
    margin-top: 5%;
    width: 100%;
}

.modal-bg {
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    margin: 0;
}

.modal-popup {
    background-color: #1d1d1d;
    color: white;
    margin: auto;
    width: 50%;
    padding: 20px;
    margin: 5% auto;
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 0px 10px 30px 1px rgba(0, 0, 0, 0.2);
    ;
}

#closeModalBtn {
    position: absolute;
    right: 20px;
    top: 150px;
    height: 24px;
    width: 24;
}

#acceptBtn {
    width: 120px;
    height: 30px;
    background-color: #2e222f;
    box-shadow: none;
    border: 1px solid white;
    color: rgb(255, 255, 255);
    border-radius: 8px;
}

#coinsModalListContainer {
    display: flex;
    gap: 30px;

}

.modal-list-item {
    display: flex;
    gap: 30px;
    border: 1px solid grey;
}

.favorite-icon-modal {
    position: relative;
}

/*=====  End of Modal  ======*/



/*=============================================
=            Reports page            =
=============================================*/

canvas {
    height: 800px;
    width: 100%;
    /* background-color: pink; */
}

/* #chartContainer {
    height: 800px;
    background-color: rgb(93, 66, 66);
} */

.favorites_list {
    display: flex;
    gap: 20px;
    height: 100px;
    background-color: rgb(125, 99, 99);
}

/*=====  End of Reports page  ======*/


.chart {
    height: 800px;
    color: black;
}



/*=============================================
=            About page            =
=============================================*/
.about_typo{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
}

.about_typo>p {
    font-size: 26px;
    font-weight: 100;
    line-height: 150%;
    max-width: 800px;
    text-align: center;
    color: white;
}

.about_typo>div {
    height: 300px;
    width: 300px;
    background-image: url(Assets/images/image_about.png);
}


/*=====  End of About page  ======*/



/* Footer */

footer {
    height: 200px;
    background-color: rgb(42, 31, 50);
}